<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3498db;">
    <div class="container">
      <a class="navbar-brand" href="#" style="color: #fff;">Your Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #fff;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #fff;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #fff;">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #fff;">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   -->


<body>
    <header class="main-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
                <!-- Brand Name/Logo -->
                <a href="#" class="navbar-brand">
                    <h2 class="mb-0">ABHIRAM GADASU </h2>
                </a>
                <!-- Menu -->
                <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse-toggle">
                    <ul class="navbar-nav mx-auto">
                        <li>
                            <a href="#home" class="nav-link" data-scroll-nav="0">Home</a>
                        </li>
                        <li>
                            <a href="#about" class="nav-link" data-scroll-nav="0">About Me</a>
                        </li>
                        <li>
                            <a href="#services" class="nav-link" data-scroll-nav="0">Services</a>
                        </li>
                        <li>
                            <a href="#skill" class="nav-link" data-scroll-nav="0">Skills</a>
                        </li>
                        <li>
                            <a href="#portfolio" class="nav-link"data-scroll-nav="0">projects</a>
                        </li>
                    </ul>
                </div>
                <div class="ms-auto d-none d-lg-block">

                    <a class="colored-btn" href="#contact" data-scroll-nav="0">Contact Now</a>

                </div>
                <button data-bs-toggle="collapse" class="navbar-toggler collapsed" type="button"
                    data-bs-target="#navbar-collapse-toggle">

                    <span></span>

                    <span></span>

                    <span></span>

                </button>
            </div>
        </nav>
    </header>
    <!-- Main-->
    <main>
        <!-- Home Section -->
        <section id="home" class="home-section bg-gray" data-scroll-index="1">
            <div class="container">
                <div class="anim-elements">
                    <div class="anim-element"><i class="bx bxl-html5"></i></div>
                    <div class="anim-element"><i class="bx bxl-css3"></i></div>
                    <div class="anim-element"><i class="bx bxl-react"></i></div>
                    <div class="anim-element"><i class="bx bxl-android"></i></div>
                    <div class="anim-element"><i class="bx bxl-apple"></i></div>
                </div>
                <div class="row gy-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="home-intro text-center text-lg-start">
                            <h6>Hi, My name is Abhiram.</h6>
                            <h1>I'm a <span id="type-it" #typeIt></span></h1>
                            <p>Based in Hyderabad.</p>
                            <a href="#about" class="colored-btn mt-1">
                                About Me
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-8">
                        <div class="home-image text-center">
                            <img src="../../assets/WhatsApp Image 2025-02-02 at 18.31.25_2cd6c190.jpg" alt="">
                            <a href="../../assets/Abhiram_Gadasu_Angular_Developer_2years.pdf"   class="colored-btn mt-4">
                                Download CV
                            </a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section -->
        <section id="about" class="section" data-scroll-index="1">
            <div class="container">
                <div class="row gy-5 align-items-center">
                    <div class="col-lg-6 text-center">
                        <img src="../../assets/modern-productivity-concept-with-flat-design_23-2147966172.jpg" alt="">
                    </div>
                    <div class="col-lg-6 ps-lg-5">
                        <div class="about-text">
                            <h3 class="h1 mb-3 text-dark fw-semibold">I'm a Developer/Freelancer at SmarGig Technologies.</h3>
                            <p>I am a skilled Angular developer with a strong understanding of front-end development principles. 
                                I leverage Angular's capabilities to design, develop, and implement dynamic and user-friendly web applications.  
                                My expertise lies in utilizing TypeScript, HTML, CSS, and various JavaScript frameworks to create robust and maintainable UIs. 
                                 I am proficient in building reusable components, integrating with back-end APIs, and ensuring a seamless user experience across different devices.</p>
                            <div class="row pt-2">
                                <div class="col-6 col-md-4">
                                    <h5 class="text-primary fw-semibold fs-4 mb-0">25+</h5>
                                    <span class="text-dark">Projects Completed</span>
                                </div>
                                <div class="col-6 col-md-4">
                                    <h5 class="text-primary fw-semibold fs-4 mb-0">10</h5>
                                    <span class="text-dark">Happy Clients</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Section -->
        <section id="services" class="section bg-gray" data-scroll-index="1" style="background-image: url(assets/img/bg-effect-1.png); background-repeat: no-repeat;
background-size: cover;">
            <div class="container">
                <div class="section-heading">
                    <h3>My Services</h3>
                </div>
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="feature-box bg-1">
                            <div class="icon"><i class="bx bx-layout"></i></div>
                            <div class="content">
                                <h5>Web Design</h5>
                                <p>Ensure your Angular applications are fully responsive and accessible across various devices and screen sizes.
                                    Implement responsive design principles to deliver a seamless user experience on desktops, tablets, and smartphones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box bg-2">
                            <div class="icon"><i class="bx bx-code-alt"></i></div>
                            <div class="content">
                                <h5>Development</h5>
                                <p>Harness the power of Angular to build dynamic, responsive, and feature-rich web applications.
                                    Utilize Angular's modular architecture to create scalable and maintainable solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box bg-3">
                            <div class="icon"><i class="bx bx-shield"></i></div>
                            <div class="content">
                                <h5>Security Implementation</h5>
                                <p>Implement security best practices such as authentication, authorization, and data protection in your Angular applications.
                                    Utilize techniques like JWT authentication, HTTPS, and secure coding practices to safeguard sensitive data.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box bg-4">
                            <div class="icon"><i class="bx bx-link"></i></div>
                            <div class="content">
                                <h5>Single Page Application (SPA) Development:</h5>
                                <p>Develop seamless single-page applications that deliver a fluid user experience.
                                    Leverage Angular's routing capabilities to create intuitive navigation within your application.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box bg-5">
                            <div class="icon"><i class="bx bx-transfer"></i></div>
                            <div class="content">
                                <h5>API Integration</h5>
                                <p>Seamlessly integrate APIs into your Angular applications to fetch and manipulate data from external sources.
                                Implement RESTful services or GraphQL endpoints to communicate with backend systems..</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box bg-6">
                            <div class="icon"><i class="bx bx-store"></i></div>
                            <div class="content">
                                <h5>State Management</h5>
                                <p>Implement robust state management solutions such as NgRx or Angular services to manage complex application states.
                                    Ensure data consistency and scalability across your Angular application.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Skill Section -->
        <section id="skill" class="section" data-scroll-index="1">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-lg-6">
                        <div class="section-heading text-center">
                            <h3>My Skills</h3>
                        </div>
                        <div class="skill-box">
                            <div class="row g-3">
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-1">
                                        <div class="icon">
                                            <i class="bx bxl-html5"></i>
                                        </div>
                                        <h6>HTML</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-2">
                                        <div class="icon">
                                            <i class="bx bxl-css3"></i>
                                        </div>
                                        <h6>CSS3</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-3">
                                        <div class="icon">
                                            <i class="bx bxl-bootstrap"></i>
                                        </div>
                                        <h6>BOOTSTRAP</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-4">
                                        <div class="icon">
                                            <i class="bx bxl-angular"></i>
                                        </div>
                                        <h6>ANGULAR</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-5">
                                        <div class="icon">
                                            <i class="bx bxl-figma"></i>
                                        </div>
                                        <h6>UI/UX</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-6">
                                        <div class="icon">
                                            <i class="bx bxl-typescript"></i>
                                        </div>
                                        <h6>TYPESCRIPT</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-6">
                                        <div class="icon">
                                            <i class="bx bxl-javascript"></i>
                                        </div>
                                        <h6>JAVASCRIPT</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-6">
                                        <div class="icon">
                                            <i class="bx bxl-github"></i>
                                        </div>
                                        <h6>GIT</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-6">
                                        <div class="icon">
                                            <i class="bx bxl-git"></i>
                                        </div>
                                        <h6>BITBUCKET</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-6">
                                    <div class="feature-box feature-box-small 
                                    bg-6">
                                        <div class="icon">
                                            <i class="bx bxl-nodejs"></i>
                                        </div>
                                        <h6>NODEJS</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 text-center">
                        <img src="../../assets/programmer-working-computer-coders-programmers-writing-program-landing-page-web-it-courses-with-html-c_199064-1767.avif" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- Work Section -->
        <section id="portfolio" data-scroll-index="1" class="section bg-gray">
            <div class="container">
                <div class="section-heading">
                    <h3>Latest Projects</h3>
                </div>
                <div class="portfolio-box">
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3
    justify-content-around align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="portfolio-img">
                                <img src=".././../assets/ecomerse website.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portfolio-text">
                                <span>Web Design</span>
                                <h4>Ecomerse shoe website</h4>
                                <p>ShoeSpot: Step into style with our sleek and user-friendly e-commerce platform,
                                     offering a wide selection of trendy footwear for every occasion.</p>
                                <a href="#" class="colored-btn mt-1">Live Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3
                    justify-content-around align-items-center flex-row-reverse">
                        <div class="col-md-6 col-lg-5">
                            <div class="portfolio-img">
                                <img src="../../assets/learning platform.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portfolio-text">
                                <span>Web Design</span>
                                <h4>Interactive Learning Platform with Exam Testing</h4>
                                <p>"SecureCipher" is an interactive learning platform designed to teach the fundamentals of encryption through engaging tutorials and practice exercises. 
                                    With built-in exam testing, users can assess their understanding and proficiency in encryption techniques,
                                     ensuring a comprehensive learning experience.</p>
                                <a href="#" class="colored-btn mt-1">Live Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3
                                    justify-content-around align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="portfolio-img">
                                <img src="../../assets/login page.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portfolio-text">
                                <span>Web Design</span>
                                <h4>Responsive Login-signup pages</h4>
                                <p>AccessHub: Seamlessly designed login and sign-up pages offering an intuitive and responsive experience for users, 
                                    ensuring hassle-free access to your platform.</p>
                                <a href="#" class="colored-btn mt-1">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tesimonial Section-->
        <section class="section" data-scroll-index="1">
            <div class="container">
                <div class="section-heading">
                    <h3>Blogs</h3>
                </div>
                <div>
                    <div class="feature-box mb-4">
                        <div class="img">
                            <img src="assets/img/avatar-1.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="mb-3 text-center">
                               
                            </p>
                            <h6 class="mb-0 text-dark fw-semibold">Dev Blogs Under Construction</h6>
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="section bg-dark" data-scroll-index="1">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-lg-6">
                        <div class="contact-form">
                            <h2 class="text-dark">Get in touch</h2>
                            <p class="lead">Feel free to reach out and connect with me!</p>
                            <form action="https://api.web3forms.com/submit" method="POST" onsubmit="setTimeout(() => this.reset(), 1000)">
                                <input type="hidden" name="access_key" value="4f01d762-71f6-4381-a371-35422d9f4554">
                                <div class="row gy-4 gx-3">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" name="name">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label">email</label>
                                            <input type="text" class="form-control" name="email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label">subject</label>
                                            <input type="text" class="form-control" name="subject">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label">Message</label>
                                            <input type="text" rows="3" class="form-control" name="Message">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="colored-btn" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-5 ms-auto col-xl-4">
                        <div class="pb-5 d-none d-md-block">
                            <img src="assets/img/contact-bg.svg" class="w-100" alt="">
                        </div>
                        <ul class="contact-infos">
                            <li>
                                <div class="icon bg-1">
                                    <i class="bx bx-phone"></i>
                                </div>
                                <div class="col ps-3"> -
                                    <h5>Phone</h5>
                                    <p>+91 9502504769</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon bg-2">
                                    <i class="bx bx-envelope"></i>
                                </div>
                                <div class="col ps-3"> -
                                    <h5>email</h5>
                                    <p>abhiramabhigadasu4m&#64;gmail.com</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon bg-3">
                                    <i class="bx bx-map"></i>
                                </div>
                                <div class="col ps-3"> -
                                    <h5>Address</h5>
                                    <p>Hyderabad</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 py-2">
                    <div class="nav justify-content-center justify-content-md-start">
                        <a href="https://www.facebook.com/profile.php?id=100007228353522&mibextid=ZbWKwL"><i class="bx bxl-facebook"></i></a>
                        <a href=" https://x.com/Abhiram12437141?t=9GYSA1OWtzGSbUfMR-0dSg&s=08"><i class="bx bxl-twitter"></i></a>
                        <a href="https://www.instagram.com/its_ur_abhi_12?igsh=ZDExYjZkNGI0OA=="><i class="bx bxl-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/abhiram-gadasu-0aa971195"><i class="bx bxl-linkedin"></i></a>
                        <a href="https://github.com/abhiramgadasu"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                <div class="col-md-6 py-2 text-center text-md-end">
                    <p class="m-0">© 2024 Copyright all right reserved |
                        Developed By <a href="#">Abhiram Gadasu</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>