<!-- <div class="container-fluid bg-primary text-white py-5">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <h1 class="name">ABHIRAM GADASU</h1>
        <h4  class="mb-4 domine">Angular Developer</h4>

     
        <ul class="list-unstyled">
          <li>Creating responsive and dynamic user interfaces</li>
          <li>Building RESTful APIs and integrating them into Angular applications</li>
          <li>Optimizing performance and ensuring code quality</li>
        </ul>
        <p class="mt-4">I am a skilled Angular developer with a strong understanding of front-end development principles. I leverage Angular's capabilities to design, develop, and implement dynamic and user-friendly web applications. My expertise lies in utilizing TypeScript, HTML, CSS, and various JavaScript frameworks to create robust and maintainable UIs. I am proficient in building reusable components, integrating with back-end APIs, and ensuring a seamless user experience across different devices.</p>
        <div class="mt-4 icon-container">
          <a href="path_to_your_cv.pdf" download class="btn btn-light mr-3">Download CV</a>
          <a href="https://www.facebook.com/yourusername" target="_blank"><img src="../../assets/facebook.svg" alt="facebook" class="icon"></a>
          <a href="https://www.instagram.com/yourusername" target="_blank"><img src="../../assets/instagram.svg" alt="Instagram" class="icon"></a>
          <a href="https://www.linkedin.com/in/yourusername" target="_blank"><img src="../../assets/linkedin.svg" alt="linkedin" class="icon"></a>
          <a href="https://github.com/yourusername" target="_blank"><img src="../../assets/github.svg" alt="GitHub" class="icon"></a>
          <a href="mailto:your.email@example.com" target="_blank"><img src="../../assets/envelope.svg" alt="envelope" class="icon"></a>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="../../assets/4098064d-d4cd-4be1-9ccb-5e5da40fb3bb.jpg" alt="Profile Picture" class="img-fluid rounded-circle mb-4" style="width: 200px;">
      </div>
    </div>
  </div>
   -->